@use "@/styles/mixin" as *;

.faqsectionmain {
  padding-bottom: 100px;

  @media (max-width: 1024px) {
    padding-bottom: 80px;
  }

  @media (max-width: 768px) {
    padding-bottom: 70px;
  }

  @media (max-width: 576px) {
    padding-bottom: 60px;
  }

  .faqsectiontitle {
    margin-bottom: 60px;
    h6 {
      @include font48;
      color: var(--black2);
      text-align: center;

      span {
        color: var(--border3);
      }

      @media (max-width: 1024px) {
        @include font40;
      }

      @media (max-width: 768px) {
        @include font30;
      }

      @media (max-width: 576px) {
        @include font28;
      }
    }
  }

  .faqflxmain {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 26px;

    .faqbox {
      transition: all 0.4s ease-in-out;
      border-bottom: 1px solid var(--border8);

      &:last-child {
        border-bottom: none;
      }

      &.active {
        transition: all 0.4s ease-in-out;
        padding-bottom: 24px;
        .faqtitle {
          transition: all 0.4s ease-in-out;
          margin-bottom: 16px;
          .faqplusicon {
            svg {
              transition: all 0.4s ease-in-out;
              rotate: 45deg;
            }
          }
        }

        .faqdescription {
          transition: all 0.4s ease-in-out;
          opacity: 1;
          height: auto;
        }
      }
      .faqtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-bottom: 26px;
        cursor: pointer;

        h6 {
          display: flex;
          align-items: center;
          gap: 18px;
          @include font24;
          color: var(--black2);

          @media (max-width: 768px) {
            @include font22;
          }

          @media (max-width: 576px) {
            @include font20;
          }
        }

        .faqplusicon {
          cursor: pointer;
          transition: all 0.4s ease-in-out;

          svg {
            transition: all 0.4s ease-in-out;
            width: 32px;
            height: 32px;
          }
        }
      }

      .faqdescription {
        height: 0;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        margin: 0 46px;

        p {
          @include font18;
          color: var(--black2muted);
        }
      }
    }
  }
}
