@mixin font16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@mixin font18 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

@mixin font20 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

@mixin font22 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
}

@mixin font24 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

@mixin font30 {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}

@mixin font48 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

@mixin font58 {
    font-size: 58px;
    font-weight: 500;
    line-height: 87px;
}

@mixin font60 {
    font-size: 60px;
    font-weight: 600;
    line-height: 43px;
}

@mixin font78 {
    font-size: 78px;
    font-weight: 600;
    line-height: 117px;
}