:root {
    --transparent: transparent;
    --white: #fff;
    --black: #000;
    --black2: #0F0F0F;
    --black3: #1A1A1A;
    --black4: #1C1C21;
    --black5: #1F1F1F;
    --black6: #262626;
    --black7: #232329;
    --black8: #333333;
    --gray40: #676665;
    --gray50: #81807E;
    --gray70: #B3B3B2;
    --gray80: #CCCCCC;
    --gray90: #E6E6E6;
    --orange80: #E7BEB1;
    --orange60: #CE7D63;
    --orange70: #DA9E8B;
    --orange90: #F3DFD8;
    --orange95: #F9EFEC;
    --robotomono: "Roboto Mono", monospace;
    --robotoflex: "Roboto Flex", sans-serif;
}