:root {
    --transparent: transparent;
    --white: #fff;
    --black: #000;
    --black2: #131313;
    --black2muted: rgb(18, 18, 18, 0.7);
    --black3: #0F0F10;
    --black3muted: rgb(18, 18, 18, 0.6);
    --black4muted: rgb(18, 18, 18, 0.4);
    --gray: #444444CC;
    --gray2: #F8F9FA;
    --gray3: #737373;
    --green: #0AA72C;
    --green2: #00B95A;
    --lightwhite: #FCFCF4;
    --lightblue: #F4F8FC;
    --blue: #0853D9;
    --border1: #E0E7F5;
    --border2: #3078F8;
    --border3: #0751D4;
    --border4: rgba(7, 81, 212, 0.2);
    --border5: #2F77F7;
    --border6: #145BD7;
    --border7: #004CD3;
    --border8: rgb(46, 118, 246, 0.4);
    --border9: #DEE1E8;
    --border10: #FCFCF41A;
    --border11: #CCCCCC4D;
    --border6muted: rgb(20, 91, 215, 0.7);
    --border7muted: rgb(20, 91, 215, 0.1);
    --themegradientblue: linear-gradient(180deg, #004CD3 0%, #3078F8 100%);
    --themegradientblue2: linear-gradient(180deg, #004CD3 0%, rgba(84, 141, 226, 0) 60%, rgba(32, 100, 210, 0) 100%);
    --themegradientblue3: linear-gradient(180deg, rgba(0, 76, 211, 0) 0%, rgba(84, 141, 226, 0) 60%, #2064D2 100%);
    --themegradientblue4: linear-gradient(270deg, #004CD3 -31.72%, #548DE2 37.93%, #004CD3 111.83%);
    --themegradientblue5: linear-gradient(180deg, rgba(244, 248, 252, 0) -4.18%, rgba(138, 196, 255, 0.2) 100%);
    --fontdm: "DM Sans", sans-serif;
}