:root {
    --transparent: transparent;
    --white: #fff;
    --black: #000;
    --black2: #0F0F0F;
    --black3: #1A1A1A;
    --black4: #1C1C21;
    --gray50: #81807E;
    --orange80: #E7BEB1;
    --orange60: #CE7D63;
    --robotoflex: "Roboto Flex", sans-serif;
    --robotomono: "Roboto Mono", monospace;
}