@use "@/styles/mixin" as *;

.herobannermain {
  margin-bottom: 120px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  .herobannerflxmain {
    display: flex;
    gap: 20px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .herobannerleftcontent {
      max-width: 1207px;
      width: 100%;
      background-color: var(--black3);
      border-radius: 20px;
      padding: 100px 20px 20px 20px;

      @media (max-width: 1024px) {
        padding: 50px 20px 20px 20px;
      }

      @media (max-width: 768px) {
        padding: 20px;
      }

      .herobannerleftcontentbox {
        padding-left: 60px;

        @media (max-width: 1024px) {
          padding-left: 0;
        }

        .herobannerlefttitle {
          margin-bottom: 20px;
          position: relative;

          @media (max-width: 1440px) {
            gap: 20px;
            display: flex;
            flex-direction: column;
          }

          @media (max-width: 576px) {
            gap: 15px;
          }

          h1 {
            @include font78;
            max-width: 704px;
            text-transform: uppercase;
            color: var(--orange95);

            @media (max-width: 1024px) {
              @include font60;
              line-height: 100px;
            }

            @media (max-width: 768px) {
              @include font50;
            }

            @media (max-width: 576px) {
              @include font40;
            }
          }

          .herobannerlinkmain {
            position: absolute;
            top: 20px;
            right: 0;
            display: flex;
            align-items: center;
            // padding-top: 20px;
            
            // margin-left: -50px;
            
            @media (max-width: 1440px) {
              // margin-left: 0;
              // padding-top: 0;
              gap: 10px;
              position: static;
            }

            .linkicon {
              position: relative;
              width: 77px;
              height: 77px;

              @media (max-width:1024px) {
                width: 60px;
                height: 60px;
              }

              @media (max-width:768px) {
                width: 50px;
                height: 50px;
              }

              @media (max-width:576px) {
                width: 40px;
                height: 40px;
              }

              img {
                object-fit: scale-down;
              }

              .linkarrowmain {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .linkarrow {
                  width: 52px;
                  height: 52px;
                  background-color: var(--orange60);
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  @media (max-width:1024px) {
                    width: 42px;
                    height: 42px;
                  }

                  @media (max-width:768px) {
                    width: 32px;
                    height: 32px;
                  }

                  @media (max-width:576px) {
                    width: 22px;
                    height: 22px;
                  }

                  svg {
                    width: 24px;
                    height: 24px;

                    @media (max-width:1024px) {
                      width: 20px;
                      height: 20px;
                    }
                  }
                }
              }
            }

            span {
              @include font24;
              color: var(--orange60);
              text-transform: uppercase;
            }
          }
        }

        p {
          @include font18;
          font-weight: 400;
          color: var(--gray40);
          max-width: 927px;
          margin-bottom: 90px;

          @media (max-width: 1024px) {
            margin-bottom: 40px;
          }

          @media (max-width: 576px) {
            @include font16;
          }
        }
      }
    }

    .herobannerrightcontent {
      max-width: 593px;
      width: 100%;
      background-color: var(--black5);
      border-radius: 20px;
      
      @media (max-width: 1440px) {
        max-width: 450px;
      }
      
      @media (max-width: 1024px) {
        max-width: 100%;
      }

      .herobannerimagediv {
        position: relative;

        @media (max-width:768px) {
          overflow: hidden;
        }

        .arrowlinkmain {
          position: absolute;
          top: -20px;
          right: -38px;
          // padding: 20px 20px 22px 22px;
          background-color: var(--black2);
          border-radius: 50%;
          width: 191px;
          height: 191px;
          
          @media (max-width:1024px) {
            width: 181px;
            height: 181px;
          }
          
          @media (max-width:768px) {
            width: 150px;
            height: 150px;
          }

          @media (max-width:576px) {
          top: -10px;
          right: -22px;
            width: 100px;
            height: 100px;
          }

          // .linkicon {
          //     position: relative;
          //     height: 100%;

          //     svg {
          //         width: 100%;
          //         height: 100%;
          //     }

          //     .linkarrowmain {
          //         position: absolute;
          //         top: 50%;
          //         left: 50%;
          //         transform: translate(-50%, -50%);
          //     }
          // }
        }

        .herobannerimage {
          height: 465px;
          border-radius: 20px 20px 0 0;

          @media (max-width:768px) {
            height: 350px;
          }

          @media (max-width:576px) {
            height: 300px;
          }
        }
      }

      .rightcontentbottombox {
        padding: 30px;

        @media (max-width: 768px) {
          padding: 20px;
        }        

        h2 {
          @include font24;
          color: var(--orange95);
          text-transform: uppercase;
        }

        p {
          @include font18;
          font-weight: 400;
          color: var(--gray70);
        }
      }
    }
  }

  .herobannerrcountingsectionmain {
    margin-top: 20px;
    border: 2px solid var(--black5);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    
    @media (max-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }
    
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (max-width: 576px) {
      padding: 10px;
      grid-template-columns: repeat(1, 1fr);
    }

    .coutingboxmain {
      background-color: var(--black3);
      padding: 30px 20px;
      border-radius: 14px;

      @media (max-width:1024px) {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      @media (max-width:768px) {
        padding: 20px 15px;
      }

      span {
        @include font18;
        text-transform: uppercase;
        color: var(--gray70);
        text-align: center;
        display: block;
        margin-bottom: 20px;

        @media (max-width:768px) {
          @include font16;
          margin-bottom: 15px;
        }
      }

      h3 {
        @include font60;
        text-transform: uppercase;
        color: var(--orange70);
        text-align: center;

        @media (max-width:1024px) {
          @include font50;
        }

        @media (max-width:768px) {
          @include font45;
        }
      }
    }

    .knowmorebox {
      background-color: var(--black3);
      padding: 30px 10px;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;

      .knowmorelinkmain {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 68px;
          height: 68px;

          @media (max-width:768px) {
            width: 50px;
            height: 50px;
          }
        }

        span {
          @include font20;
          text-transform: uppercase;
          color: var(--gray70);
          text-transform: uppercase;

          @media (max-height: 1024px) {
            @include font18;
          }
        }
      }
    }
  }
}
