@use "@/styles/mixin" as *;

.herobannermain {
  padding: 0 0 40px 0;

  .herobanner {
    padding: 80px 0 0 0;
    overflow: hidden;
    border-radius: 34px;
    position: relative;
    background-image: url("../../../assets/image/gradbg.png");
    background-size: cover;

    @media (max-width: 1024px) {
      padding: 60px 0;
    }

    &::after {
      background-image: url("../../../assets/image/bgnet.png");
      // background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      z-index: 2;
    }

    .herobannercontainer {
      max-width: 1332px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .herobannercontent {
      position: relative;
      z-index: 3;
      max-width: 817px;
      margin: 0 auto 70px auto;

      @media (max-width: 768px) {
        margin-bottom: 50px;
      }
      h1 {
        @include font60;
        color: var(--white);
        margin-bottom: 14px;
        text-align: center;

        @media (max-width: 1440px) {
          @include font50;
        }

        @media (max-width: 1024px) {
          @include font40;
        }

        @media (max-width: 768px) {
          @include font30;
        }

        @media (max-width: 576px) {
          @include font28;
        }
      }

      p {
        @include font18;
        color: var(--white);
        margin-bottom: 40px;
        text-align: center;

        @media (max-width: 576px) {
          @include font16;
          margin-bottom: 30px;
        }
      }

      .buttonalignment {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @media (max-width: 1024px) {
          gap: 30px;
        }

        @media (max-width: 768px) {
          gap: 20px;
          flex-wrap: wrap;
        }

        @media (max-width: 576px) {
          gap: 15px;
        }
      }
    }

    .herobannercardsection {
      position: relative;
      z-index: 3;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 35px;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }

      .herobannerchartboxmain {
        max-width: 362px;
        background-color: var(--lightblue);
        border: 1px solid var(--border1);
        border-radius: 28px;
        padding: 8px;
        margin-bottom: 30px;

        @media (max-width: 1440px) {
          width: 100%;
        }

        @media (max-width: 1024px) {
          margin-bottom: 0;
        }

        @media (max-width: 576px) {
          max-width: 100%;
        }

        .herobannerchartbox {
          border: 1px solid var(--border1);
          border-radius: 24px;
          padding: 12px 13px 13px;

          @media (max-width: 1024px) {
            padding: 10px;
          }
        }
      }

      .herobannerchartdetailsboxmain {
        max-width: 430px;
        background-color: var(--lightblue);
        border: 1px solid var(--border1);
        border-radius: 28px 28px 0 0;
        padding: 9px 9px 0 9px;

        @media (max-width: 1440px) {
          width: 100%;
        }

        @media (max-width: 1024px) {
          padding: 0px;
          border-radius: 28px;
        }

        @media (max-width: 576px) {
          max-width: 100%;
        }

        .herobannerchartdetailsbox {
          position: relative;
          border: 1px solid var(--border1);
          border-bottom: none;
          border-radius: 24px 24px 0 0;
          padding: 15px 12px 0 12px;

          &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: var(--themegradientblue5);
          }

          @media (max-width: 1024px) {
            padding: 15px 12px;
            border-radius: 24px;
          }

          .chartdetailsboxheader {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 15px;
            margin-bottom: 14px;
            border-bottom: 1px solid var(--border1);
            position: relative;
            z-index: 1;

            img {
              width: 46px;
              height: 31px;
            }

            span {
              @include font16;
              color: var(--black2muted);
            }
          }

          .chartdetailsboxbody {
            position: relative;
            z-index: 1;
            padding: 0 0 21px 0;
            .financebutton {
              padding: 9px 8px;
              border-radius: 5px;
              background: var(--themegradientblue);
              border: none;
              @include font14;
              color: var(--white);
              border: 1px solid var(--themegradientblue);

              &:hover {
                background: var(--transparent);
                color: var(--black2);
              }
            }

            p {
              margin-top: 23px;
              @include font15;
              color: var(--black2);
            }
            
            .green {
              color: var(--green2);
            }

            .blue {
              color: var(--blue);
            }
          }
        }
      }

      .herobannerchartgridmain {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 430px;
        width: 100%;

        @media (max-width: 1024px) {
          margin-bottom: 0;
          grid-template-columns: repeat(4, 1fr);
          max-width: 100%;
        }

        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        .herobannerchartgridboxmain {
          background-color: var(--lightblue);
          border: 1px solid var(--border1);
          border-radius: 14px;
          padding: 5px;

          .herobannerchartgridbox {
            border: 1px solid var(--border1);
            border-radius: 10px;
            height: 100%;
            padding: 20px 10px;
            text-align: center;

            span {
              display: block;
              @include font30;
              color: var(--border3);
            }

            p {
              @include font18;
              opacity: 0.6;
              font-weight: 600;
              color: var(--black3muted);

              @media (max-width: 576px) {
                @include font16;
              }
            }
          }
        }
      }
    }
  }

  .herobannermarquee {
    margin: 40px 0 0 0;

    .sharesmarquee {
      padding: 5px 29px;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--border3);
      }

      &::before {
        left: 5px;
      }

      &::after {
        left: 0;
      }

      h2 {
        display: flex;
        align-items: center;
        gap: 14px;
        @include font24;
        color: var(--border3);

        @media (max-width: 768px) {
          @include font22;
        }

        @media (max-width: 576px) {
          @include font20;
        }

        span {
          @include font20;
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--black2);
        }

        .sharespercentage {
          color: var(--green);
        }
      }
    }
  }
}
