@use "@/styles/mixin" as *;

.servicesmain {
  margin-bottom: 120px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  .services {
    border: 2px solid var(--black5);
    border-radius: 20px;
    padding: 20px;

    @media (max-width:576px) {
      padding: 10px;
    }

    .servicessectiontitle {
      background-color: var(--black3);
      border-radius: 12px;
      padding: 50px;
      margin-bottom: 20px;

      @media (max-width: 1024px) {
        padding: 40px;
      }

      @media (max-width: 768px) {
        padding: 30px;
      }

      @media (max-width: 576px) {
        padding: 20px;
      }

      h6 {
        @include font48;
        color: var(--orange95);
        text-transform: uppercase;

        @media (max-width: 1024px) {
          @include font38;
        }

        @media (max-width: 768px) {
          @include font30;
        }

        @media (max-width: 576px) {
          @include font28;
        }
      }
    }

    .servicessectiongrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .servicesbox {
        background-color: var(--black3);
        border-radius: 14px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;
        
        @media (max-width: 1440px) {
          padding: 25px;
        }
        
        @media (max-width: 1024px) {
          gap: 40px;
        }
        
        @media (max-width: 768px) {
          gap: 30px;
          padding: 20px;
        }
        
        @media (max-width: 576px) {
          gap: 20px;
          padding: 20px;
        }

        .servicesboxtopmain {
          display: flex;
          justify-content: space-between;
          gap: 30px;
          width: 100%;

          @media (max-width:1440px) {
            gap: 0;
          }

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }

          @media (max-width: 576px) {
            gap: 15px;
          }

          .servicestopleft {
            display: flex;
            align-items: center;
            gap: 14px;

            span {
              @include font30;
              color: var(--orange95);
              text-transform: uppercase;
              max-width: 367px;

              @media (max-width: 1440px) {
                @include font23;
                max-width: 211px;
              }

              @media (max-width: 768px) {
                @include font28;
                max-width: 100%;
              }

              @media (max-width: 576px) {
                @include font18;
              }
            }

            svg {
              width: 66px;
              height: 66px;

              @media (max-width: 768px) {
                width: 55px;
                height: 55px;
              }

              @media (max-width: 576px) {
                width: 50px;
                height: 50px;
              }
            }
          }

          .bookcalllinkmain {
            display: flex;
            align-items: center;
            gap: 10px;
            max-width: 195px;
            width: 100%;

            @media (max-width:1280px) {
              max-width: 181px;
            }

            &:hover {
              img {
                rotate: 20deg;
              }
            }

            img {
              transition: .4s ease-in-out;
              width: 52px;
              height: 52px;

              @media (max-width: 1280px) {
                width: 45px;
                height: 45px;
              }

              @media (max-width: 768px) {
                width: 50px;
                height: 50px;
              }

              @media (max-width: 576px) {
                width: 45px;
                height: 45px;
              }
            }

            span {
              @include font20;
              font-weight: 500;
              font-family: var(--robotomono);
              text-transform: uppercase;
              color: var(--gray70);
              
              @media (max-width: 1440px) {
                @include font18;
              }
              
              @media (max-width: 1280px) {
                @include font16;
                font-weight: 500;
              }

              @media (max-width: 768px) {
                @include font18;
              }

              @media (max-width: 576px) {
                @include font16;
              }
            }
          }
        }

        .serviceboxbottom {
          p {
            @include font18;
            max-width: 740px;
            color: var(--gray70);
            margin-bottom: 20px;

            @media (max-width: 576px) {
              @include font16;
            }
          }

          span {
            display: block;
            text-align: right;
            color: var(--orange95);
            @include font30;
            text-transform: uppercase;

            @media (max-width: 768px) {
              @include font24;
            }

            @media (max-width: 576px) {
              @include font18;
            }
          }
        }
      }
    }
  }
}
