@use "@/styles/mixin" as *;

.ourcommunitiesmain {
  padding-bottom: 100px;

  @media (max-width: 1024px) {
    padding-bottom: 80px;
  }

  @media (max-width: 768px) {
    padding-bottom: 70px;
  }

  @media (max-width: 576px) {
    padding-bottom: 60px;
  }

  .ourcommunitiestitle {
    margin-bottom: 50px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
    h3 {
      @include font48;
      color: var(--black2);
      text-align: center;

      span {
        color: var(--border3);
      }

      @media (max-width: 1024px) {
        @include font40;
      }

      @media (max-width: 768px) {
        @include font34;
      }

      @media (max-width: 576px) {
        @include font30;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .socialmediabuttonsflxmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    overflow-x: auto;

    a {
      display: block;
      width: 100%;
      min-width: 300px;
      
      @media (max-width:576px) {
        min-width: 200px;
      }

      .socialbutton {
        background-color: var(--gray2);
        border: 1px solid var(--border9);
        border-radius: 50px;
        padding: 24px 32px;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;

        .socialmediaicon {
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          @media (max-width: 576px) {
            width: 26px;
            height: 26px;
          }
        }

        .socialmedianame {
          @include font22;
          color: var(--black3);

          @media (max-width: 576px) {
            @include font20;
          }
        }

        .socialmedianamebig {
          opacity: 0.1;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          @include font50;
          color: var(--black4muted);

          @media (max-width:576px) {
            @include font40;
          }
        }
      }
    }
  }
}

.footermain {
  background-color: var(--black2);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/image/map.png");
    opacity: 0.1;
    z-index: 1;
  }

  .footer {
    padding: 72px 0 20px 0;
    position: relative;
    z-index: 2;

    .footerflxmain {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      padding-bottom: 30px;

      @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
        gap: 50px;
      }

      .footerleftcontentmain {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 27px;

        @media (max-width: 1024px) {
          max-width: 100%;
        }

        .footerlogo {
          svg {
            width: 233px;
            height: auto;
            path {
              fill: var(--white);
            }
          }
        }

        .footerleftcontent {
          display: flex;
          flex-direction: column;
          gap: 20px;
          p {
            @include font18;
            color: var(--white);
          }
        }

        .googleplaybutton {
          width: 100%;
          max-width: 168px;
          cursor: pointer;
        }
      }

      .footerlinksmain {
        max-width: 135px;

        @media (max-width:1024px) {
          max-width: 100%;
        }

        span {
          @include font18;
          font-weight: 500;
          color: var(--gray3);
          margin-bottom: 30px;
          display: block;

          @media (max-width:576px) {
            margin-bottom: 15px;
          }
        }

        .footerlinkflx {
          display: flex;
          flex-direction: column;
          gap: 18px;

          a {
            @include font18;
            font-weight: 500;
            color: var(--lightwhite);

            @media (max-width:576px) {
              @include font16;
            }
          }
        }
      }

      .footerrightcontentmain {
        max-width: 450px;

        @media (max-width: 1024px) {
          max-width: 100%;
          grid-column: span 2;
        }

        @media (max-width: 576px) {
          grid-column: span 1;
        }

        h1 {
          @include font28;
          color: var(--lightwhite);
          margin-bottom: 20px;

          @media (max-width:768px) {
            @include font24;
          }

          @media (max-width:576px) {
            @include font22;
          }
        }

        .emailinputmain {
          padding: 15px 26px;
          width: 100%;
          box-sizing: border-box;
          background-color: var(--transparent);
          border: 1px solid var(--border11);
          border-radius: 50px;
          margin-bottom: 37px;
          @include font16;
          color: var(--white);
          transition: 0.4s ease-in-out;

          &:focus {
            outline: none;
            border-color: var(--white);
          }

          @media (max-width:1024px) {
            max-width: 400px;
          }

          @media (max-width:576px) {
            max-width: 100%;
          }
        }
      }
    }

    .footercopyrightmain {
      border-top: 1px solid var(--border10);
      padding-top: 25px;

      .footercopyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        p {
          @include font18;
          color: var(--lightwhite);

          @media (max-width:576px) {
              @include font16;
          }
        }

        .footertermslink {
          display: flex;
          align-items: center;
          gap: 43px;

          @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 20px;
          }

          a {
            @include font18;
            color: var(--lightwhite);

            @media (max-width:576px) {
              @include font16;
            }
          }
        }
      }
    }
  }
}
